<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bole Manufacturing College</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Education master is one of the best educational html template, it's suitable for all education websites like university,college,school,online education,tution center,distance education,computer education">
    <meta name="keyword" content="education html template, university template, college template, school template, online education template, tution center template">
    <!-- FAV ICON(BROWSER TAB ICON) -->
    <link rel="shortcut icon" href="images/fav.ico" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700" rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- ALL CSS FILES -->
    <link href="css/materialize.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="css/style-mob.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- MOBILE MENU -->
    <section>
        <div class="ed-mob-menu">
            <div class="ed-mob-menu-con">
                <div class="ed-mm-left">
                    <div class="wed-logo">
                        <a href="index-2.html"><img src="images/logo.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="ed-mm-right">
                    <div class="ed-mm-menu">
                        <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                        <div class="ed-mm-inn">
                            <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>
                            <h4>All Courses</h4>
                            <ul>
                                 <li><a href="course-details.html">Accounting/Finance</a></li>
                                <li><a href="course-details.html">Construction</a></li>
                                <li><a href="course-details.html">Food</a></li>
                                <li><a href="course-details.html">Furniture Making</a></li>
                                <li><a href="course-details.html">Information Technology</a></li>
                                <li><a href="course-details.html">Garment</a></li>
                                <li><a href="course-details.html">Automotive</a></li>
                                <li><a href="course-details.html">General Metal Fabrication</a></li>
                            </ul>
                            
                            <h4>All Pages</h4>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About us</a></li>
                                
                                
                                <li><a href="course-details.html">Course details</a></li>
                                <li><a href="gallery-photo.html">Gallery</a></li>
                                
                                <li><a href="blog.html">Blog</a>
                                <li><a href="events.html">Events</a></li>
                                
                                <li><a href="contact-us.html">Contact us</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--HEADER SECTION-->
    <section>
        <!-- TOP BAR -->
        <div class="ed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ed-com-t1-left">
                            <ul>
                                <li><a href="#">Contact: Addis Ababa, Ayat 40/60 Condominium, Ethiopia</a>
                                </li>
                                <li><a href="#">Phone: 0118434343</a>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="ed-com-t1-social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- LOGO AND MENU SECTION -->
        <div class="top-logo" data-spy="affix" data-offset-top="250">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wed-logo">
                            <a href="index.html"><img src="images/logo.png" alt="" />
                            </a>
                        </div>
                        <div class="main-menu">
                            <ul>
                                <li><a href="index.html">Home</a>
                                </li>
                                <li class="about-menu">
                                    <a href="about.html" class="mm-arr">About us</a>
                                    <!-- MEGA MENU 1 -->
                                    
                               
                                <li><a href="all-courses.html">All Courses</a></li>
                                <!--<li><a class='dropdown-button ed-sub-menu' href='#' data-activates='dropdown1'>Courses</a></li>-->
                               

                                </li>
                                 <li><a href="blog.html">Blog</a>

                                <li><a href="gallery-photo.html">Gallery</a>
                                </li>
                                                                <li><a href="contact-us.html">Contact us</a>
                                </li>
                                 <li><a href="faq.html">FAQ</a>
                                    
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="all-drop-down-menu">

                    </div>

                </div>
            </div>
        </div>
        <div class="search-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-form">
                            <form>
                                <div class="sf-type">
                                    <div class="sf-input">
                                        <input type="text" id="sf-box" placeholder="Select Course">
                                    </div>
                                    <div class="sf-list">
                                        <ul>
                                             <li><a href="account.html">Accounting/Finance</a></li>
                                <li><a href="cons.html">Construction</a></li>
                                <li><a href="food.html">Food</a></li>
                                <li><a href="furniture.html">Furniture Making</a></li>
                                <li><a href="course-details.html">Information Technology</a></li>
                                <li><a href="garment.html">Garment</a></li>
                                <li><a href="auto.html">Automotive</a></li>
                                <li><a href="gmf.html">General Metal Fabrication</a></li>
                                
                                        </ul>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--END HEADER SECTION-->

	
	
    <!--SECTION START-->
    <section>
        <div class="ed-res-bg">
		<div class="container com-sp pad-bot-70 ed-res-bg">
            <div class="row">
                <div class="cor about-sp">
                    <div class="ed-rsear">
                        <div class="ed-rsear-in">
                            <ul>
                                <li>
									<div class="ed-rese-grid">
										<div class="ed-rsear-img ed-faci-full-top">
											<img src="images/facilities/1.jpg" alt="">
										</div>
										<div class="ed-rsear-dec ed-faci-full-bot">
											<h4><a href="facilities-detail.html">Human Resource Management</a></h4>
											<p>Human resource management (HRM) is the practice of recruiting, hiring, deploying and managing an organization's employees. HRM is often referred to simply as human resources (HR). A company or organization's HR department is usually responsible for creating, putting into effect and overseeing policies governing workers and the relationship of the organization with its employees. The term human resources was first used in the early 1900s, and then more widely in the 1960s, to describe the people who work for the organization, in aggregate.</p>
											
										</div>
									</div>
                                </li>
                                <li>
									<div class="ed-rese-grid">
										<div class="ed-rsear-img ed-faci-full-top">
											<img src="images/facilities/2.jpg" alt="">
										</div>
										<div class="ed-rsear-dec ed-faci-full-bot">
											<h4><a href="facilities-detail.html">Public Procurement and Property Administration</a></h4>
											<p>The quality, timeliness, local appropriateness and affordability of those procured inputs can largely determine whether the public investments will succeed or fail. So the beneficial impact and contribution of the input, particularly in the case of technical assistance services, can exceed their direct costs, by several orders of magnitude. Yet procurement costs can be substantial, consuming scarce resources of tightly constrained government budgets. Often the required funding must be borrowed.  </p>
											
										</div>
									</div>
                                </li>
                                <li>
									<div class="ed-rese-grid">
										<div class="ed-rsear-img ed-faci-full-top">
											<img src="images/facilities/3.jpg" alt="">
										</div>
										<div class="ed-rsear-dec ed-faci-full-bot">
											<h4><a href="facilities-detail.html">ፍይናንስ </a></h4>
											<p>መንግስት በየዓመቱ የሚመድበው በጀት የአገሪቱን የዕድገት ዓላማ ለማሳካትና ድህነትን ለመቀነስ
ብሎም ለማስወገድ ሚናው የጐላ የሚሆነው የመንግስት ፋይናንስ አስተዳደር በስትራቴጅክ
ዕቅድ ሲመራ ነው፡፡ መንግስት አገራዊ ኢኮኖሚውን ለማሳደግና የሕዝቡን የኑሮ ደረጃ ለማሻሻል
የረጅም፣የመካከለኛና የአጭር ጊዜ ፕሮግራሞች በማዘጋጀትና እና ፕሮጀክቶች በማቀድ በሥራ
ላይ የሚያውል ሲሆን፣ አፈጻጸማቸውም የበለጠ ውጤታማ የሚሆነው ለፕሮግራሞች፣
ለፕሮጀክቶችና ለመደበኛ ተግባራት ማስፈፀሚያ የሚያስፈልጉ የፋይናንስ፣የሰው ሃይልና
የማቴርያል ሃብቶች በተቀናጀ ዕቅድ ሲመራ ነው፡፡
የአገራችን የመንግሥት ፋይናንስ አስተዳደር ከ1983 ዓ.ም. በፊት በተበታተነ መልክ የሚሠራና
ግልጽና ውጤታማ ያልነበረ፣ የተሟላ የህግ ማዕቀፍም ያልነበረው ነበር፡፡ በዚህም ምክንያት
ፋይናንሱን በማስተዳደርና በመቆጣጠር በኩል ከፍተኛ  ክፍተቶች ነበሩበት፡፡ 
በአለፉት ዓመታት የፋይናንስ አስተዳደሩን ለማሻሻል በርካታ ስራዎች የተከናወኑ ቢሆንም 
ከሌሎች አገሮች ተሞክሮ ጋር ሲታይ የአገራችን የመንግስት ፋይናንስ አስተዳደር የበለጠ
ውጤታማ ለማድረግ  የማሻሻያ  ስራዎች መሰራት እንደሚገባቸው በተለያዩ ጊዜያት የተካሄዱ
ጥናቶች ያመለክታሉ፡፡ በተለይም ውጤታማ የሆነ የፕሮግራም በጀት ከመተግበር፣ ደረጃውን
የጠበቀ የጥሬ ገንዘብ አስተዳደር ከመዘርጋት፣ ዘመናዊ የመንግስት የሂሳብ አያያዝና የሪፖርት
አቀራረብ ከመተግበር፣ የመንግስትን ገንዘብ ከብክነት ለመከላከል የሚያስችል ጠንካራ የውስጥ
ኦዲት ከማቋቋም፣ግልጽና ውጤታማ የግዢና የንብረት አስተዳደር ስርዓት ማስፈን፡፡ 
</p>
									
										</div>
									</div>
                                </li>
                                <li>
                                    <div class="ed-rese-grid">
                                        <div class="ed-rsear-img ed-faci-full-top">
                                            <img src="images/facilities/3.jpg" alt="">
                                        </div>
                                        <div class="ed-rsear-dec ed-faci-full-bot">
                                            <h4><a href="facilities-detail.html">የሥነምግባር እና ፀረ -ሙስና ዳይሬክቶሬት</a></h4>
                                            <p>የመልካም ስነምግባር ፣ የፀረ ሙስና ፖሊሲዎች ፣ ህጎች ፣ መመሪያዎች እና አቅጣጫዎች እንዲሁም በሙስና ጎጂ ውጤቶች ላይ የባለስልጣናት እና የሰራተኞችን ግንዛቤ ማሳደግ
ቀድሞ የተጠቀሱትን የሕግ ማዕቀፎች፣ ሥራ ላይ ያሉ መመሪያዎችንና የሚኒስቴሩ መምሪያዎችን ጨምሮ አፈፃፀም መከታተል እና የሚኒስቴሩ ኃላፊን(ሚኒስትሮችን) ማማከር
የባለስልጣናትና የሰራተኞችን የስነምግባር ደንብ ማዘጋጀትና እንዲተገበሩ ማድረግ እንዲሁም አፈፃፀሙን መከታተል
የምርምር ፕሮፖዛሎችን ማስጀመርና ለ FEACC ማቅረብ እንዲሁም ሚኒስትሮቹን ወዲያውኑ እንዲያውቁ ማድረግ
ለሙስና የተጋለጡ የሥራ ሂደቶችን በራሱ ወይም ከሌሎች ጋር በመተባበር የማረሚያ መንገዶች ላይ የምርምር ፕሮፖዛል ማካሄድ፣ ለሚኒስትሮች የመፍትሄ ሃሳብ ማቅረብ እና ከፀደቀ በኋላ አፈፃፀሙን መከታተል
የአስተዳደር እና የአገልግሎት አሰጣጥ ላይ መሻሻል የሚችሉባቸውን መንገዶች ለሚኒስትሮች በመምከር ለሕዝብ ጥያቄዎች ምላሽ ሰጪ እንዲሆኑ ማድረግ
በአገልግሎት አሰጣጥ ላይ አድልዎ አለመኖሩን ማረጋግገጥና አድልዎ ከተገኘ ሪፖርት ማድረግ
ማንኛውንም የሙስና ክስተት መመዝገብ እንዲሁም ለፌዴራል ፖሊስ የወንጀል ምርመራ ክፍል፣FEACC እና ለሚኒስትሮች ሪፖርት ማድረግ፤ በቀጣይም ጉዳዩን መከታተል
ሙስናን ማጋለጥን ለማበረታታት ሥነ -ምግባርን ማሳደግ፣ የሀላፊነት ስሜትን ማጠናከር እና ሠራተኞችን ከቅጣት እርምጃዎች መጠበቅን በተመለከተ ሚኒስትሮችን መምከር </p>
                                            
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ed-about-sec1">
                        <div class="col-md-6"></div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
        </div>
		</div>
    </section>
    <!--SECTION END-->


    <!--SECTION START-->
    <section>
        <div class="full-bot-book">
            <div class="container">
                <div class="row">
                    <div class="bot-book">
                        <div class="col-md-2 bb-img">
                            <img src="images/3.png" alt="">
                        </div>
                        <div class="col-md-7 bb-text">
                            <h4>therefore always free from repetition</h4>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                        </div>
                        <div class="col-md-3 bb-link">
                            <a href="course-details.html">Book This Course</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->

    <!--HEADER SECTION-->
    <section class="wed-hom-footer">
        <div class="container">
            <!--<div class="row">
				<div class="col-md-12">
				<h4>About Wedding Planner</h4>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
				<p>more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text</p>
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
				<p></p>
			  </div>
			  </div>-->
            <div class="row wed-foot-link">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>Top Courses</h4>
                    <ul>
                        <li><a href="course-details.html">Accounting/Finance</a></li>
                        <li><a href="course-details.html">civil engineering</a></li>
                        <li><a href="course-details.html">Art/Design</a></li>
                        <li><a href="course-details.html">Marine Engineering</a></li>
                        <li><a href="course-details.html">Business Management</a></li>
                        <li><a href="course-details.html">Journalism/Writing</a></li>
                        <li><a href="course-details.html">Physical Education</a></li>
                        <li><a href="course-details.html">Political Science</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>New Courses</h4>
                    <ul>
                        <li><a href="course-details.html">Sciences</a></li>
                        <li><a href="course-details.html">Statistics</a></li>
                        <li><a href="course-details.html">Web Design/Development</a></li>
                        <li><a href="course-details.html">SEO</a></li>
                        <li><a href="course-details.html">Google Business</a></li>
                        <li><a href="course-details.html">Graphics Design</a></li>
                        <li><a href="course-details.html">Networking Courses</a></li>
                        <li><a href="course-details.html">Information technology</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>HELP & SUPPORT</h4>
                    <ul>
                        <li><a href="#">24x7 Live help</a>
                        </li>
                        <li><a href="#">Contact us</a>
                        </li>
                        <li><a href="#">Feedback</a>
                        </li>
                        <li><a href="#">FAQs</a>
                        </li>
                        <li><a href="#">Safety Tips</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row wed-foot-link-1">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>Get In Touch</h4>
                    <p>Address: 28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.</p>
                    <p>Phone: <a href="#!">+101-1231-4321</a></p>
                    <p>Email: <a href="#!">info@edu.com</a></p>
                </div>
                <div class="col-md-4">
                    <h4>DOWNLOAD OUR FREE MOBILE APPS</h4>
                    <ul>
                        <li><a href="#"><span class="sprite sprite-android"></span></a>
                        </li>
                        <li><a href="#"><span class="sprite sprite-ios"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>SOCIAL MEDIA</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--END HEADER SECTION-->

    <!--HEADER SECTION-->
    <section class="wed-rights">
        <div class="container">
            <div class="row">
                <div class="copy-right">
                   <a target="_blank" href="https://www.templateshub.net">Templates Hub</a>
                </div>
            </div>
        </div>
    </section>
    <!--END HEADER SECTION-->

    <!--SECTION LOGIN, REGISTER AND FORGOT PASSWORD-->
    <section>
        <!-- LOGIN SECTION -->
        <div id="modal1" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello...</h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Login</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name" class="validate">
                                <label>User name</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <div class="s12 log-ch-bx">
                                <p>
                                    <input type="checkbox" id="test5" />
                                    <label for="test5">Remember me</label>
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Login" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal3">Forgot password</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- REGISTER SECTION -->
        <div id="modal2" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello...</h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Create an Account</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name1" class="validate">
                                <label>User name</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="email" class="validate">
                                <label>Email id</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Confirm password</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Register" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- FORGOT SECTION -->
        <div id="modal3" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello... </h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Forgot password</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name3" class="validate">
                                <label>User name or email id</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Submit" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="icon-float">
            <ul>
                <li><a href="#" class="sh">1k <br> Share</a> </li>
                <li><a href="#" class="fb1"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="gp1"><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="tw1"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="li1"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="wa1"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="sh1"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> </li>
            </ul>
        </div>
    </section>

    <!--Import jQuery before materialize.js-->
    <script src="js/main.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/custom.js"></script>
</body>


</html>